* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  transition: background-image .5s ease;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.6rem;
  background-color: transparent;
}

nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(196, 196, 204);

  cursor: pointer;
  transition: all .5s ease;
}

nav a:hover {
  transform: scale(1.1);
}

nav a.active {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.bg-home,
.bg-universe,
.bg-exploration,
.bg-404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.bg-home {
  background-image: url(./images/home.png);
}

.bg-universe {
  background-image: url(./images/universe.png);
}

.bg-exploration {
  background-image: url(./images/exploration.png);
}

.bg-404 {
  background-image: url(./images/404-error.jpg);
}

#home-page,
#universe-page,
#exploration-page {
  display: grid;
  place-content: center;
  height: 100vh;
}

#home-page h1,
#universe-page h1,
#exploration-page h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: rgb(225, 225, 230);
}

#home-page #btn-explore {
  margin: 2.4rem auto 0;
  padding: 1.2rem 3.2rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: .5rem;
  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.5s ease;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

#home-page #btn-explore:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 121, 157);
}

#universe-page,
#exploration-page {
  margin: 0 1.6rem;
}

#universe-page p,
#exploration-page p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  color: rgb(225, 225, 230);

  margin-top: 1.6rem;
}

/* Responsive Design */

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: flex-start;
    gap: 3.2rem;
    padding: 3.2rem 0 3.2rem 6.4rem;
  }

  #home-page h1,
  #universe-page h1,
  #exploration-page h1 {
    font-size: 4.8rem;
    line-height: 125%;
  }

  #universe-page p,
  #exploration-page p,
  #universe-page h1,
  #exploration-page h1 {
    margin: 1.6rem 4.8rem 0;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 4.0rem 0 4.0rem 7.2rem;
  }

  #universe-page p,
  #exploration-page p {
    margin: 1.6rem 32.0rem 16.0rem 10.2rem;
  }

  #universe-page h1,
  #exploration-page h1 {
    margin-top: 6.3rem;
    margin-left: 10.2rem;
  }
}

@media (min-width: 1280px) {
  #universe-page p,
  #exploration-page p {
    margin: 1.6rem 53.0rem 25.6rem 10.2rem;
  }
}
